PORT=3000
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/Portfolio?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_strong_secret
ADMIN_NAME=Amir Saad Admin
ADMIN_EMAIL=asaad10@my.centennialcollege.ca
ADMIN_PASSWORD=replace_with_admin_password
